SQLAlchemy~=2.0.40
python-dotenv~=1.1.0
pydantic~=2.11.3
passlib[bcrypt]~=1.7.4
bcrypt==3.2.2
fastapi~=0.115.12
python-jose~=3.4.0
uvicorn[standard]
psycopg2-binary~=2.9.10
pydantic[email]
python-multipart~=0.0.20
fastapi-pagination[sqlalchemy]~=0.13.1
Werkzeug~=3.1.3